header {
	height: 100px;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}


#team{
margin-left: 120px;
padding: 0;
}

#middle {
	width: 294px;
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
}


#body{
    font-family: Arial;
}
*{
padding : 0px;
margin : 2px;
}

#wrapper{
    background: none;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 
}


#maindiv{
    width:100%;
    height:700px;
    background: none;
}
#navDiv{
    opacity: 7;
    filter:(opacity= 70);
}
#navDiv ul{
    width: 100%;
    height : 100px;
    background: #002699;
    line-height:100px;
    color:  #ffffff;
    margin-right:15px;
}

#navDiv ul a{
    text-decoration:none;
    color: #ffffff;
    padding: 25px;
}
#navDiv ul li{
 list-style-type: none;
 display: inline-block;
 float: right;
 font-size: 1.2em;
}
#navDiv ul li:hover {
    background:none;
    transition:all 0.4s; 
}
#navDiv p{
    width: 500px;
    float:left;
    font-size:30px;
    cursor: pointer;
    margin-left:15px;
}

#container{
   
    background:none;
    width: 1020px;
    margin: 0 auto;
    padding: 0;
}